[Unit]
Description=isuumo.python
After=syslog.target

[Service]
WorkingDirectory=/home/isucon/isuumo/webapp/python
EnvironmentFile=/home/isucon/env.sh
PIDFile=/home/isucon/isuumo/webapp/python/server.pid

User=isucon
Group=isucon
ExecStart=/home/isucon/isuumo/webapp/python/venv/bin/gunicorn app:app -b '0.0.0.0:1323' -w 7 --error-logfile error.log --capture-output

Restart   = always
Type      = simple
[Install]
WantedBy=multi-user.target
